.hero {
    text-align: center;
    padding: 4rem;
    font-size: 1.5rem;
}

.hero p {
    padding-top: 2rem;
}

.hero a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 100%;
    min-width: 120px;
    max-width: 200px;
    margin: 20px auto;
    border-radius: 50px;
    color: white;
    background-color: #e60023;
}

.hero a:hover {
    transition: 0.6s;
    background-color: #ffd700;
}

.hero img {
    width: 100%;
    max-width: 500px;
    min-width: 120px;
    
}

.customer {
    text-align: center;
    padding: 1rem 4rem 4rem;
    font-size: 1.5rem
}

.customer p {
    padding-top: 2rem;
}

.customer a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 100%;
    min-width: 120px;
    max-width: 200px;
    margin: 20px auto;
    border-radius: 50px;
    color: white;
    background-color: #004080;
}

.customer span {
    color: #004080;
}